body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: rgb(239, 114, 68);
    height: 100vh;
}

h1 {
    color: #ff8b00;
    font-size: 2.5rem;
}

#weather-info h2,
#weather-info h3 {
    color: white;
    margin-bottom: 20px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1.1rem;
}